-**[説明変数をジャンルとその他もろもろで重回帰分析](#説明変数をジャンルとその他もろもろで重回帰分析)**  
<br><br>
-**[評価回数、rating、興行収入、予算などの間の相関係数](#評価回数、rating、興行収入、予算などの間の相関係数)**

In [1]:
import numpy as np
import pandas as pd
from IPython.core.pylabtools import figsize
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
metadata_URL = "./the-movies-dataset/movies_metadata.csv"
genres_URL = "./the-movies-dataset/genres.csv"
scores_URL = "./ml-latest/95%_least_plausible.csv"
links_URL = "./the-movies-dataset/links.csv"
links_small_URL = "./the-movies-dataset/links_small.csv"
credits_URL = "./the-movies-dataset/credits.csv"
directors_URL = "./the-movies-dataset/directors.csv"
actors_URL = "./the-movies-dataset/actors.csv"
jobs_URL = "./the-movies-dataset/jobs.csv"

In [3]:
# データフレーム中のstringをdict型のリストに変換する
def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

def extract_ids(genres_list):
    id_list = []
    for genre in genres_list:
        id_list.append(genre["id"])
    return id_list

def extract_names(genres_list):
    id_list = []
    for genre in genres_list:
        id_list.append(genre["name"])
    return id_list

In [10]:
metadata_df = pd.read_csv(metadata_URL)[["id", "genres"]]
metadata_df["genres"] = metadata_df["genres"].map(make_list_from_str)
metadata_df["genres"] = metadata_df["genres"].map(extract_names)
metadata_df["genre_count"] = metadata_df["genres"].map(lambda x: len(x))
metadata_df.head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      id                        genres  genre_count
0    862   [Animation, Comedy, Family]            3
1   8844  [Adventure, Fantasy, Family]            3
2  15602             [Romance, Comedy]            2
3  31357      [Comedy, Drama, Romance]            3
4  11862                      [Comedy]            1

In [13]:
##すべてのジャンルのidリスト、nameリストを作成

genres_df = pd.read_csv(genres_URL)
all_genre_id = genres_df["id"].tolist()
all_genre_name = genres_df["name"].tolist()
print("ids: ", all_genre_id)
print("names: ", all_genre_name)

ids:  [16, 35, 10751, 12, 14, 10749, 18, 28, 80, 53, 27, 36, 878, 9648, 10752, 10769, 10402, 99, 37, 10770]
names:  ['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History', 'Science Fiction', 'Mystery', 'War', 'Foreign', 'Music', 'Documentary', 'Western', 'TV Movie']

In [14]:
metadata_df.groupby("genre_count")["id"].count()

genre_count
0     2442
1    14559
2    14480
3     9586
4     3380
5      835
6      157
7       24
8        3
Name: id, dtype: int64

In [15]:
metadata_df = metadata_df[metadata_df["genre_count"] > 0]
metadata_df.groupby("genre_count")["id"].count()

genre_count
1    14559
2    14480
3     9586
4     3380
5      835
6      157
7       24
8        3
Name: id, dtype: int64

In [16]:
genre_dummies = pd.get_dummies(metadata_df["genres"].apply(pd.Series).stack()).sum(level=0)
genre_dummies.head()

,Action,Adventure,Animation,Aniplex,BROSTA TV,Carousel Productions,Comedy,Crime,Documentary,Drama,...,Romance,Science Fiction,Sentai Filmworks,TV Movie,Telescene Film Group Productions,The Cartel,Thriller,Vision View Entertainment,War,Western
0,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
genre_dummies = genre_dummies[all_genre_name]
genre_dummies.head()

,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,History,Science Fiction,Mystery,War,Foreign,Music,Documentary,Western,TV Movie
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
movie_data = pd.concat([metadata_df[["id"]] , genre_dummies], axis=1)
movie_data

,id,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,...,Horror,History,Science Fiction,Mystery,War,Foreign,Music,Documentary,Western,TV Movie
0,862,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8844,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15602,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,31357,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11862,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,949,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6,11860,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,45325,0,0,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8,9091,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,710,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,9087,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12110,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12,21032,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,10858,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
14,1408,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,524,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
16,4584,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17,5,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,9273,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,11517,0,1,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
20,8012,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,1710,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,9691,0,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
23,12665,0,0,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
24,451,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,16420,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,9263,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27,17015,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,902,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,37557,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45429,36680,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
45430,222872,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
45431,257472,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45432,323132,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45433,5589,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
45435,63266,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45436,45527,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
45437,455661,1,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45438,327237,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45439,84710,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
45440,39562,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
45441,14008,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45443,49279,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
45444,44333,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45445,49277,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45446,49271,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45449,14885,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45450,49280,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45451,106807,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45452,276895,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
45453,404604,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
45454,420346,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45456,84419,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
45457,390959,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
45458,289923,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45459,222848,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
45460,30840,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
45461,439050,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,111109,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45463,67758,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
links_df = pd.read_csv(links_URL)
links_df = links_df.dropna()
links_df["tmdbId"] = links_df["tmdbId"].map(int)
links_df.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

In [21]:
def get_movieId(tmdbId_list, links_df):
    movieid_list = []
    for tmdbId in tmdbId_list:
        if not tmdbId.isdigit():
            movieid_list.append(np.nan)
        else:
            movieId = links_df[links_df["tmdbId"] == int(tmdbId)]["movieId"].tolist()
            if len(movieId) == 1:
                movieid_list.append(movieId[0])
            else:
                movieid_list.append(np.nan)
    return movieid_list

In [22]:
tmdbid_list = movie_data["id"].tolist()
movieid_list = get_movieId(tmdbid_list, links_df)
movie_data["movieId"] = movieid_list
movie_data.head()

,id,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,...,History,Science Fiction,Mystery,War,Foreign,Music,Documentary,Western,TV Movie,movieId
0,862,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,8844,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
2,15602,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.0
3,31357,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,4.0
4,11862,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0

In [23]:
# NaNを削除
movie_data = movie_data[movie_data["movieId"] > 0]
movie_data["id"].count()

42962

In [24]:
scores_df = pd.read_csv(scores_URL)[["movieId", "95%_least_plausible"]]
scores_df.head()

    movieId  95%_least_plausible
0     318.0             4.424716
1  159817.0             4.409009
2     858.0             4.333404
3      50.0             4.294587
4  170705.0             4.261164

In [25]:
movie_data =pd.merge(movie_data, scores_df, on="movieId")
movie_data.drop(["id","movieId"] , axis=1, inplace=True)
movie_data.head()

,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,...,History,Science Fiction,Mystery,War,Foreign,Music,Documentary,Western,TV Movie,95%_least_plausible
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.882039
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.226958
2,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.161669
3,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2.841556
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.066052

## 説明変数をジャンルとその他もろもろで重回帰分析

In [26]:
# データの分割（学習データとテストデータ分ける）
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = movie_data.drop("95%_least_plausible", axis=1)

# 目的変数
Y = movie_data["95%_least_plausible"]

# 学習データとテストデータ分ける
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)

train: LinearRegression 0.0827957769437
test: LinearRegression 0.0801041123114
    Coefficients             Name
19     -0.146525         TV Movie
15     -0.145967          Foreign
10     -0.133427           Horror
7      -0.015848           Action
2      -0.013090           Family
18      0.052045          Western
12      0.071038  Science Fiction
9       0.078430         Thriller
5       0.086155          Romance
14      0.091610              War
4       0.101197          Fantasy
13      0.108459          Mystery
16      0.116138            Music
3       0.122141        Adventure
1       0.122150           Comedy
8       0.128492            Crime
0       0.182488        Animation
17      0.198859      Documentary
11      0.209293          History
6       0.234537            Drama
2.32122058936

***

ここまではがいあのを完全にコピー

In [68]:
metadata = pd.read_csv(metadata_URL)[['budget', 'id', 'revenue', 'runtime']]

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
metadata.budget[19730] = 0
metadata.budget[29503] = 0
metadata.budget[35587] = 0

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [70]:
metadata.budget = pd.to_numeric(metadata.budget)

In [71]:
metadata = metadata[metadata['budget']>0]
metadata = metadata[metadata['revenue']>0]
metadata = metadata[metadata['runtime']>0]

In [72]:
tmdbid_list = metadata["id"].tolist()
movieid_list = get_movieId(tmdbid_list, links_df)
metadata["movieId"] = movieid_list
metadata.head()

     budget     id      revenue  runtime  movieId
0  30000000    862  373554033.0     81.0      1.0
1  65000000   8844  262797249.0    104.0      2.0
3  16000000  31357   81452156.0    127.0      4.0
5  60000000    949  187436818.0    170.0      6.0
8  35000000   9091   64350171.0    106.0      9.0

In [73]:
metadata =  metadata[metadata["movieId"] > 0]
metadata["id"].count()

5357

In [74]:
metadata =pd.merge(metadata, scores_df, on="movieId")
metadata.drop(["id","movieId"] , axis=1, inplace=True)
metadata.head()

     budget      revenue  runtime  95%_least_plausible
0  30000000  373554033.0     81.0             3.882039
1  65000000  262797249.0    104.0             3.226958
2  16000000   81452156.0    127.0             2.841556
3  60000000  187436818.0    170.0             3.832650
4  35000000   64350171.0    106.0             2.983756

In [75]:
# データの分割（学習データとテストデータ分ける）
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = metadata.drop("95%_least_plausible", axis=1)

# 目的変数
Y = metadata["95%_least_plausible"]

# 学習データとテストデータ分ける
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)

train: LinearRegression 0.11455269848
test: LinearRegression 0.106363238076
   Coefficients     Name
0 -2.596164e-09   budget
1  8.534381e-10  revenue
2  6.759755e-03  runtime
2.30887040763

In [77]:
metadata_df = pd.read_csv(metadata_URL)[["id", "genres"]]
metadata_df["genres"] = metadata_df["genres"].map(make_list_from_str)
metadata_df["genres"] = metadata_df["genres"].map(extract_names)
metadata_df["genre_count"] = metadata_df["genres"].map(lambda x: len(x))
genres_df = pd.read_csv(genres_URL)
all_genre_id = genres_df["id"].tolist()
all_genre_name = genres_df["name"].tolist()
metadata_df = metadata_df[metadata_df["genre_count"] > 0]
genre_dummies = pd.get_dummies(metadata_df["genres"].apply(pd.Series).stack()).sum(level=0)
genre_dummies = genre_dummies[all_genre_name]
movie_data = pd.concat([metadata_df[["id"]] , genre_dummies], axis=1)
tmdbid_list = movie_data["id"].tolist()
movieid_list = get_movieId(tmdbid_list, links_df)
movie_data["movieId"] = movieid_list
movie_data = movie_data[movie_data["movieId"] > 0]
movie_data.head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,...,History,Science Fiction,Mystery,War,Foreign,Music,Documentary,Western,TV Movie,movieId
0,862,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,8844,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
2,15602,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.0
3,31357,0,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,4.0
4,11862,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0

In [79]:
metadata = pd.read_csv(metadata_URL)[['budget', 'id', 'revenue', 'runtime']]
metadata.budget[19730] = 0
metadata.budget[29503] = 0
metadata.budget[35587] = 0
metadata.budget = pd.to_numeric(metadata.budget)
metadata = metadata[metadata['budget']>0]
metadata = metadata[metadata['revenue']>0]
metadata = metadata[metadata['runtime']>0]
tmdbid_list = metadata["id"].tolist()
movieid_list = get_movieId(tmdbid_list, links_df)
metadata["movieId"] = movieid_list
metadata.head()
metadata =  metadata[metadata["movieId"] > 0]
metadata.head()

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     budget     id      revenue  runtime  movieId
0  30000000    862  373554033.0     81.0      1.0
1  65000000   8844  262797249.0    104.0      2.0
3  16000000  31357   81452156.0    127.0      4.0
5  60000000    949  187436818.0    170.0      6.0
8  35000000   9091   64350171.0    106.0      9.0

In [84]:
merged = pd.merge(movie_data, metadata, on='movieId')
merged = pd.merge(merged, scores_df, on='movieId')
merged.drop(["id_x","id_y", "movieId"] , axis=1, inplace=True)
merged

,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,...,War,Foreign,Music,Documentary,Western,TV Movie,budget,revenue,runtime,95%_least_plausible
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,30000000,373554033.0,81.0,3.882039
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,65000000,262797249.0,104.0,3.226958
2,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,16000000,81452156.0,127.0,2.841556
3,0,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,60000000,187436818.0,170.0,3.832650
4,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,35000000,64350171.0,106.0,2.983756
5,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,58000000,352194034.0,130.0,3.423798
6,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,62000000,107879496.0,106.0,3.649377
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,44000000,13681765.0,192.0,3.410690
8,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,98000000,10017322.0,119.0,2.694739
9,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,52000000,116112375.0,178.0,3.785011
10,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,16500000,135000000.0,136.0,3.941227
11,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,4000000,4300000.0,98.0,3.386415
12,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,30000000,212385533.0,90.0,2.621809
13,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,60000000,35431113.0,103.0,2.870833
14,0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,30250000,115101622.0,105.0,3.562067
15,0,0,0,1,0,0,0,1,1,1,...,0,0,0,0,0,0,50000000,30303072.0,132.0,3.133948
16,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,3600000,49800000.0,112.0,3.656035
17,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12000000,27400000.0,100.0,3.383966
18,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,18000000,1738611.0,108.0,3.903087
19,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,29500000,168840000.0,129.0,3.882375
20,0,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,30000000,254134910.0,89.0,3.610857
21,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,11000000,39363635.0,122.0,3.921543
22,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,18000000,122195920.0,101.0,2.613065
23,0,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,20000000,21284514.0,106.0,3.355567
24,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,10000000,23574130.0,116.0,3.239536
25,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,33000000,327311859.0,127.0,4.061583
26,1,0,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,55000000,346079773.0,81.0,2.942605
27,0,0,0,0,0,0,1,0,1,1,...,0,0,0,0,0,0,6000000,23341568.0,106.0,4.294587
28,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,15000000,6700000.0,95.0,3.519960
29,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3500000,28215918.0,91.0,3.525634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5312,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2500000,2141028.0,91.0,2.125434
5313,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,6000000,4588176.0,99.0,2.233147
5314,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,5000000,6700000.0,92.0,2.020948
5315,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3000000,9713500.0,99.0,2.055774
5316,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,4000000,9938268.0,80.0,1.956798
5317,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,82000,2000000.0,76.0,2.156974
5318,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,152000000,369907963.0,140.0,3.409216
5319,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,21000000,24527158.0,95.0,2.597915
5320,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,197471676,90024292.0,137.0,2.709062
5321,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,7000000,855450.0,83.0,1.849206
5322,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,7400000,22000000.0,169.0,2.123153
5323,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,2000000,273137.0,93.0,2.244304
5324,0,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,10000000,7547762.0,120.0,2.306255
5325,0,0,0,0,0,1,1,1,0,1,...,0,0,0,0,0,0,5300000,22175908.0,168.0,2.204350
5326,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,30000000,90007945.0,115.0,2.895820
5327,0,0,0,0,0,0,1,1,0,1,...,1,0,0,0,0,0,100000000,519876949.0,107.0,3.981995
5328,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,8500000,5730596.0,90.0,2.160834
5329,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,8520000,56100000.0,125.0,2.279507
5330,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,260000000,604942143.0,149.0,1.717262
5331,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,2000000,11666088.0,90.0,2.146222
5332,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2000000,8000000.0,81.0,2.099418
5333,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,3000000,1957000.0,90.0,2.281518
5334,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,2196531,2411594.0,107.0,2.190009
5335,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,60000000,71000000.0,95.0,2.243679
5336,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,50000000,66913939.0,86.0,1.008039
5337,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,11000000,184770205.0,111.0,2.194715
5338,0,1,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,12000000,19000000.0,185.0,2.112479
5339,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,800000,1328612.0,100.0,2.203374
5340,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,2000000,1268793.0,107.0,2.188667
5341,0,1,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,5000000,1413000.0,91.0,2.149298

### 目的変数はratingスコア、説明変数は予算、興行収入、上映時間をくわえた

In [85]:
# データの分割（学習データとテストデータ分ける）
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = merged.drop("95%_least_plausible", axis=1)

# 目的変数
Y = merged["95%_least_plausible"]

# 学習データとテストデータ分ける
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)

train: LinearRegression 0.201998219022
test: LinearRegression 0.214548445573
    Coefficients             Name
15 -7.938138e-01          Foreign
10 -2.127594e-01           Horror
7  -1.651048e-01           Action
2  -1.607588e-01           Family
19 -8.062623e-02         TV Movie
1  -5.442705e-02           Comedy
16 -4.687441e-02            Music
5  -3.141176e-02          Romance
4  -1.622615e-02          Fantasy
9  -6.249431e-03         Thriller
20 -2.098975e-09           budget
21  9.734993e-10          revenue
3   1.284215e-03        Adventure
22  4.774270e-03          runtime
14  3.810700e-02              War
11  4.119863e-02          History
12  8.940953e-02  Science Fiction
13  1.082160e-01          Mystery
8   1.266655e-01            Crime
6   1.575125e-01            Drama
0   1.780475e-01        Animation
18  2.646165e-01          Western
17  3.169014e-01      Documentary
2.50632836292

### 目的変数を興行収入にして、重回帰分析

In [86]:
# データの分割（学習データとテストデータ分ける）
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = merged.drop(["95%_least_plausible", "revenue"], axis=1)

# 目的変数
Y = merged["revenue"]

# 学習データとテストデータ分ける
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)

train: LinearRegression 0.547097222639
test: LinearRegression 0.55171525053
    Coefficients             Name
11 -4.186356e+07          History
18 -2.781296e+07          Western
15 -2.006806e+07          Foreign
6  -1.541197e+07            Drama
7  -1.207149e+07           Action
16 -1.116661e+07            Music
14 -1.083537e+07              War
13 -8.647997e+06          Mystery
12 -7.506687e+06  Science Fiction
9  -6.833033e+06         Thriller
8  -4.848498e+06            Crime
1  -4.043272e+06           Comedy
20  2.884988e+00           budget
21  7.713494e+05          runtime
4   7.072818e+06          Fantasy
5   1.039719e+07          Romance
17  1.231812e+07      Documentary
2   1.358423e+07           Family
10  1.405370e+07           Horror
0   2.561281e+07        Animation
3   2.687958e+07        Adventure
19  2.945461e+07         TV Movie
-74490573.7353

さきほどの結果と比較するとおもしろい。TV Movie, Horror, Familyなどはratingには負に効いていたのに、興行収入では正に効いている。逆にWestern, Dramaなどは反対の挙動を示してる。

## 監督、俳優のダミー変数づくり

In [4]:
actors = pd.read_csv(actors_URL)
actors.head()

,Unnamed: 0,cast_id,character,credit_id,gender,id,name,order,profile_path,movies,appearance
0,0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,"[862, 568, 13, 9800, 858, 32562, 9591, 857, 11...",72
1,1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,"[862, 11395, 9446, 10371, 863, 926, 2185, 1231...",29
2,2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,"[862, 524, 18937, 14577, 18784, 863, 11589, 39...",29
3,3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,"[862, 11041, 32302, 863, 18935, 10865, 26386, ...",20
4,4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,"[862, 9603, 1775, 15789, 32636, 23333, 19042, ...",75

In [10]:
len(actors)

206158

In [5]:
actors = actors[actors.appearance>10]

In [12]:
len(actors)

9144

In [16]:
np.array(actors.id)

array([    31,  12898,   7167, ..., 148052, 141695, 586625])

In [53]:
for i in range(len(pre_dummy)):
    if type(pre_dummy[i]) == np.float64:
        pre_dummy[i] = np.nan
    else:
        for j in range(len(pre_dummy[i])):
            if pre_dummy[i][j] in list(actors.id):
                continue
            else:
                pre_dummy[i][j] = np.nan

In [54]:
pre_dummy = pre_dummy.dropna()
cast_dummies = pd.get_dummies(pre_dummy).sum(level=0)

In [59]:
cast_dummies

,1.0,2.0,3.0,4.0,5.0,6.0,13.0,14.0,18.0,19.0,...,1468755.0,1469587.0,1478372.0,1514445.0,1573982.0,1583011.0,1584544.0,1619660.0,1706855.0,1787560.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2577,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2578,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2580,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2581,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2588,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2589,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2590,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2592,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2602,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2603,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2605,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# データの分割（学習データとテストデータ分ける）
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = merged.drop(["95%_least_plausible", "revenue"], axis=1)

# 目的変数
Y = merged["revenue"]

# 学習データとテストデータ分ける
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)

***

In [6]:
def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

#idだけを取得、リストの作成
def extract_ids(genres_list):
    id_list = []
    for genre in genres_list:
        id_list.append(genre["id"])
    return id_list

#nameだけを取得、リストの作成
def extract_names(genres_list):
    id_list = []
    for genre in genres_list:
        id_list.append(genre["name"])
    return id_list

In [6]:
credits = pd.read_csv(credits_URL)

credits['cast_list'] = credits.cast.map(make_list_from_str)
credits['crew_list'] = credits.crew.map(make_list_from_str)

credits['cast_id'] = credits.cast_list.map(extract_ids)
credits['cast_name'] = credits.cast_list.map(extract_names)

credits['crew_id'] = credits.crew_list.map(extract_ids)
credits['crew_name'] = credits.crew_list.map(extract_names)

In [60]:
credits

,cast,crew,id,cast_list,crew_list,cast_id,cast_name,crew_id,crew_name
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"[{'credit_id': '52fe4284c3a36847f8024f95', 'ge...","[{'credit_id': '52fe4284c3a36847f8024f49', 'pr...","[31, 12898, 7167, 12899, 12900, 7907, 8873, 11...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[7879, 12891, 7, 12892, 12893, 12894, 12895, 1...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"[{'credit_id': '52fe44bfc3a36847f80a7c73', 'ge...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'pr...","[2157, 8537, 205, 145151, 5149, 10739, 58563, ...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[511, 876, 1729, 4945, 4951, 4952, 8023, 9967,...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"[{'credit_id': '52fe466a9251416c75077a8d', 'ge...","[{'credit_id': '52fe466a9251416c75077a89', 'pr...","[6837, 3151, 13567, 16757, 589, 16523, 7166]","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[26502, 16837, 16837, 1551320]","[Howard Deutch, Mark Steven Johnson, Mark Stev..."
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"[{'credit_id': '52fe44779251416c91011aad', 'ge...","[{'credit_id': '52fe44779251416c91011acb', 'pr...","[8851, 9780, 18284, 51359, 66804, 352, 87118, ...","[Whitney Houston, Angela Bassett, Loretta Devi...","[2178, 5144, 5144, 21968, 70592, 111118, 11111...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"[{'credit_id': '52fe44959251416c75039eb9', 'ge...","[{'credit_id': '52fe44959251416c75039ed7', 'pr...","[67773, 3092, 519, 70696, 59222, 18793, 14592,...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[37, 5506, 17698, 17698, 26160, 56106, 68755]","[Alan Silvestri, Elliot Davis, Nancy Meyers, N..."
5,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de...",949,"[{'credit_id': '52fe4292c3a36847f80291f5', 'ge...","[{'credit_id': '52fe4292c3a36847f802916d', 'pr...","[1158, 380, 5576, 10127, 3197, 6200, 15851, 15...","[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...","[638, 638, 1254, 638, 5581, 11099, 15840, 1584...","[Michael Mann, Michael Mann, Art Linson, Micha..."
6,"[{'cast_id': 1, 'character': 'Linus Larrabee',...","[{'credit_id': '52fe44959251416c75039da9', 'de...",11860,"[{'credit_id': '52fe44959251416c75039d97', 'ge...","[{'credit_id': '52fe44959251416c75039da9', 'pr...","[3, 15887, 17141, 4301, 12957, 8937, 16554, 34...","[Harrison Ford, Julia Ormond, Greg Kinnear, An...","[2226, 70846, 2226, 491, 10640, 2997, 5490, 17...","[Sydney Pollack, Barbara Benedek, Sydney Polla..."
7,"[{'cast_id': 2, 'character': 'Tom Sawyer', 'cr...","[{'credit_id': '52fe46bdc3a36847f810f797', 'de...",45325,"[{'credit_id': '52fe46bdc3a36847f810f771', 'ge...","[{'credit_id': '52fe46bdc3a36847f810f797', 'pr...","[53283, 51214, 38581, 8316, 87007, 57448, 102313]","[Jonathan Taylor Thomas, Brad Renfro, Rachael ...","[2075, 7775, 18357, 72225]","[David Loughery, Stephen Sommers, Peter Hewitt..."
8,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de...",9091,"[{'credit_id': '52fe44dbc3a36847f80ae0e3', 'ge...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'pr...","[15111, 6280, 8656, 10361, 12928, 79088]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...","[37710, 53300, 56953, 56032, 56954, 53299, 450...","[Peter Hyams, Karen Elise Baldwin, Gene Quinta..."
9,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de...",710,"[{'credit_id': '52fe426ec3a36847f801e10d', 'ge...","[{'credit_id': '52fe426ec3a36847f801e14b', 'pr...","[517, 48, 10695, 10696, 10671, 5309, 3757, 192...","[Pierce Brosnan, Sean Bean, Izabella Scorupco,...","[10702, 9856, 10704, 10705, 10666, 10493, 996,...","[Martin Campbell, Ian Fleming, Jeffrey Caine, ..."
10,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de...",9087,"[{'credit_id': '52fe44dac3a36847f80adf79', 'ge...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'pr...","[3392, 516, 521, 8349, 63279, 112080, 20767, 1...","[Michael Douglas, Annette Bening, Michael J. F...","[2702, 3026, 3026, 3032, 9251, 13520]","[John Seale, Rob Reiner, Rob Reiner, Robert Le..."
11,"[{'cast_id': 9, 'character': 'Count Dracula', ...","[{'credit_id': '52fe44b79251416c7503e7fb', 'de...",12110,"[{'credit_id': '52fe44b79251416c7503e811', 'ge...","[{'credit_id': '52fe44b79251416c7503e7fb', 'pr...","[7633, 14639, 1219, 12688, 12812, 13640, 6106,...","[Leslie Nielsen, Mel Brooks, Amy Yasbeck, Pete...","[4057, 14639, 14639, 14639, 53839, 53840, 5997...","[Adam Weiss, Mel Brooks, Mel Brooks, Mel Brook..."
12,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...",21032,"[{'credit_id': '52fe4409c3a368484e00bb65', 'ge...","[{'credit_id': '593f24b9c3a3680369002371', 'pr...","[4724, 382, 2233, 12077, 110001, 67386, 19545,...","[Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim ...","[488, 489, 12061, 21879, 106850, 570268, 99116...","[Steven Spielberg, Kathleen Kennedy, Roger S.H..."
13,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de...",10858,"[{'credit_id': '52fe43c59251416c7501d6e1', 'ge...","[{'credit_id': '52fe43c59251416c7501d6f3', 'pr...","[4173, 11148, 6280, 228, 382, 5249, 19839, 110...","[Anthony Hopkins, Joan Allen, Powers Boothe, E...","[1152, 1152, 5379, 491, 17786, 149, 3189, 1152]","[Oliver Stone, Oliver Stone, Dan Halsted, John..."
14,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de...",1408,"[{'credit_id': '52fe42f4c3a36847f802f65f', 'ge...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'pr...","[16935, 8654, 8924, 7868, 8979, 16936, 16937, ...","[Geena Davis, Matthew Modine, Frank Langella, ...","[2044, 8383, 391, 3986, 7228, 6044, 10685, 145...","[Peter Levy, Maggie Gray, Norman Garwood, Mari..."
15,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de...",524,"[{'credit_id': '52fe424dc3a36847f80139d1', 'ge...","[{'credit_id': '52fe424dc3a36847f80139cd', 'pr...","[380, 4430, 4517, 4512, 7167, 7169, 7166, 7165...","[Robert De Niro, Sharon Stone, Joe Pesci, Jame...","[1032, 7170, 149, 3661, 2242, 2366, 1032, 7163...","[Martin Scorsese, Barbara De Fina, Robert Rich..."
16,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de...",4584,"[{'credit_id': '52fe43cec3a36847f807103b', 'ge...","[{'credit_id': '52fe43cec3a36847f807101f', 'pr...","[204, 7056, 3291, 207, 4566, 20769, 16700, 414...","[Kate Winslet, Emma Thompson, Hugh Grant, Tom ...","[1614, 32982, 7056, 11058, 2226, 9152, 7021, 9...","[Ang Lee, Jane Austen, Emma Thompson, Lindsay ..."
17,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de...",5,"[{'credit_id': '52fe420dc3a36847f80001b7', 'ge...","[{'credit_id': '52fe420dc3a36847f800011b', 'pr...","[3129, 3131, 3130, 3125, 3141, 62, 138, 3122, ...","[Tim Roth, Antonio Banderas, Jennifer Beals, M...","[3116, 3117, 3119, 3110, 3111, 2294, 138, 2545...","[Combustible Edison, Gary Frutkoff, Lance Brow..."
18,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de...",9273,"[{'credit_id': '52fe44dfc3a36847f80af279', 'ge...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'pr...","[206, 3547, 4001, 57096, 4029, 2598, 88059, 31...","[Jim Carrey, Ian McNeice, Simon Callow, Maynar...","[4489, 29901, 4489, 4507, 57097, 57098, 4700, ...","[Steve Oedekerk, Jack Bernstein, Steve Oedeker..."
19,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",11517,"[{'credit_id': '52fe44509251416c7503059b', 'ge...","[{'credit_id': '52fe44509251416c750305a1', 'pr...","[10814, 57755, 16866, 9287, 2955, 4887, 32287,...","[Wesley Snipes, Woody Harrelson, Jennifer Lope...","[52629, 20840, 1059, 71423, 1586, 3805, 71424,...","[Joseph Ruben, Doug Richardson, Neil Canton, T..."
20,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de...",8012,"[{'credit_id': '52fe448dc3a36847f809c6eb', 'ge...","[{'credit_id': '52fe448dc3a36847f809c729', 'pr...","[8891, 193, 14343, 518, 1117, 18792, 4691, 962...","[John Travolta, Gene Hackman, Rene Russo, Dann...","[5174, 2235, 518, 5381, 5382, 6394, 9614, 1646...","[Barry Sonnenfeld, Elmore Leonard, Danny DeVit..."
21,"[{'cast_id': 8, 'character': 'Helen Hudson', '...","[{'credit_id': '52fe430ec3a36847f803722d', 'de...",1710,"[{'credit_id': '52fe430ec3a36847f8037243', 'ge...","[{'credit_id': '52fe430ec3a36847f803722d', 'pr...","[10205, 18686, 883, 18687, 18688, 5169, 20212,...","[Sigourney Weaver, Holly Hunter, Will Patton, ...","[18679, 15148, 853, 8970, 376, 18683, 376, 186...","[Mark Tarlov, Jon Amiel, Alan Heim, Jim Clark,..."
22,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de...",9691,"[{'credit_id': '52fe451cc3a36847f80bd107', 'ge...","[{'credit_id': '52fe451cc3a36847f80bd145', 'pr...","[16483, 3131, 1231, 58556, 17348, 14328, 47757...","[Sylvester Stallone, Antonio Banderas, Juliann...","[7187, 9339, 9340, 9989, 12235, 49286, 3175, 7...","[Richard Donner, Lilly Wachowski, Lana Wachows..."
23,"[{'cast_id': 1, 'character': 'Jessie Caldwell'...","[{'credit_id': '52fe45129251416c7504ab67', 'de...",12665,"[{'credit_id': '52fe45119251416c7504ab51', 'ge...","[{'credit_id': '52fe45129251416c7504ab67', 'pr...","[2453, 54789, 2714, 4785, 36637]","[Mary Steenburgen, Sean Patrick Flanery, Lance...","[56349, 56349, 4504, 56188, 66723, 73335, 1760...","[Victor Salva, Victor Salva, Roger Birnbaum, R..."
24,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de...",451,"[{'credit_id': '52fe4245c3a36847f801117b', 'ge...","[{'credit_id': '52fe4245c3a36847f80111c3', 'pr...","[2963, 1951, 6104, 6105, 6106, 6107, 6108, 610...","[Nicolas Cage, Elisabeth Shue, Julian Sands, R...","[6109, 6111, 6111, 6111, 6113, 6114, 6115, 611...","[Stuart Reynolds , Mike Figgis, Mike Figgis, M..."
25,"[{'cast_id': 2, 'character': 'Othello', 'credi...","[{'credit_id': '5462510ec3a368082d000121', 'de...",16420,"[{'credit_id': '52fe46d29251416c75084b0b', 'ge...","[{'credit_id': '5462510ec3a368082d000121', 'pr...","[2975, 1350, 11181, 27631, 232174, 17483, 1227...","[Laurence Fishburne, Irène Jacob, Kenneth Bran...","[6210, 56710, 56710]","[William Shakespeare, Oliver Parker, Oliver Pa..."
26,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de...",9263,"[{'credit_id': '52fe44dec3a36847f80aed73', 'ge...","[{'credit_id': '52fe44dec3a36847f80aed45', 'pr...","[6886, 12929, 2155, 29369, 12930, 3416, 114471...","[Christina Ricci, Rosie O'Donnell, Thora Birch...","[15798, 57062, 3416, 550, 551, 2120, 6050, 33830]","[Lesli Linka Glatter, I. Marlene King, Demi Mo..."
27,"[{'cast_id': 1, 'character': 'Anne Elliott', '...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'de...",17015,"[{'credit_id': '52fe46ff9251416c7508a8a9', 'ge...","[{'credit_id': '52fe46ff9251416c7508a8b3', 'pr...","[30318, 8785, 87415, 10981, 14465, 3930, 54447...","[Amanda Root, Ciarán Hinds, Susan Fleetwood, F...","[7017, 13009, 32982, 33443, 110587, 137933, 15...","[Roger Michell, Alexandra Byrne, Jane Austen, ..."
28,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de...",902,"[{'credit_id': '52fe428ac3a36847f8026cdf', 'ge...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'pr...","[2372, 2413, 13842, 13843, 13687, 13845, 13846...","[Ron Perlman, Dominique Pinon, Judith Vittet, ...","[2419, 2419, 13828, 13829, 13830, 13831, 2402,...","[Jean-Pierre Jeunet, Jean-Pierre Jeunet, Félic..."
29,"[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de...",37557,"[{'credit_id': '52fe46559251416c910511c3', 'ge...","[{'credit_id': '52fe46559251416c910511c9', 'pr...","[643, 146097, 150151, 143358, 150152, 150153]","[Gong Li, Li Bao-Tian, Wang Xiaoxiao, Li Xueji...","[607, 72204, 146103, 146104]","[Zhang Yimou, Lü Yue, Bi Feiyu, Li Xiao]"
...,...,...,...,...,...,...,...,...,...
45446,"[{'cast_id': 1, 'character': 'Gillian Grady', ...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'de...",45527,"[{'credit_id': '52fe46c7c3a36847f8111997', 'ge...","[{'credit_id': '52fe46c7c3a36847f81119a1', 'pr...","[34485, 8395, 33355, 11830, 44150, 67979, 1063...","[Lauren Holly, Luke Perry, Steve Bacic, Cole H...","[23799, 23799, 23808, 40609, 40609, 40608, 406...","[Uwe Boll, Uwe Boll, Mathias Neumann, Dan Clar..."
45447,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",455661,[],"[{'credit_id': '5981a15c92514151e0011b51', 'pr...",[],[],"[1544272, 1641138, 1809041, 1809041, 1809042, ...","[Arturo Cardelús, Nick Ainsworth, Beth David, ..."
45448,"[{'cast_id': 2, 'character': 'André Hazes', 'c...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'de...",327237,"[{'credit_id': '54edb0fcc3a36869e50014cf', 'ge...","[{'credit_id': '54edb0e0c3a3686d58003a13', 'pr...","[1388985, 128859, 45754, 228327, 144199]","[Martijn Fischer, Hadewych Minis, Fedja van Hu...","[1109734, 65472]","[Diederick Koopal, Frank Ketelaar]"
45449,"[{'cast_id': 2, 'character': 'Paula Dupree - t...","[{'credit_id': '52fe49099251416c910a0a89', 'de...",84710,"[{'credit_id': '52fe49099251416c910a0a8d', 'ge...","[{'credit_id': '52fe49099251416c910a0a89', 'pr...","[131056, 30133, 30686, 17756, 126834, 86356, 3...","[Acquanetta, Evelyn Ankers, J. Carrol Naish, S...","[100793, 102358]","[Reginald Le Borg, Bernard Schubert]"
45450,"[{'cast_id': 1, 'character': 'Alyson', 'credit...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'de...",39562,"[{'credit_id': '52fe47269251416c9106ba5b', 'ge...","[{'credit_id': '562ec44ec3a3681b5900bac2', 'pr...","[53862, 86905, 1384190, 136227, 1655618, 14485...","[Kaley Cuoco, Caroline Rhea, Melissa Halstrom,...","[238634, 131785]","[M. A. Lovretta, Douglas Barr]"
45451,"[{'cast_id': 1, 'character': 'Kelly Collins', ...","[{'credit_id': '52fe45c29251416c75061803', 'de...",14008,"[{'credit_id': '52fe45c29251416c750617eb', 'ge...","[{'credit_id': '52fe45c29251416c75061803', 'pr...","[5958, 76241, 21163, 11023, 56457, 190895, 200...","[Hilary Duff, Christy Carlson Romano, Gary Col...","[68294, 238277, 1212412]","[Gail Parent, Michael Walsh, Larry Shaw]"
45452,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'de...",44330,[],"[{'credit_id': '52fe4684c3a36847f81034f3', 'pr...",[],[],[11523],[Georges Méliès]
45453,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'de...",49279,"[{'credit_id': '5497407ac3a36831b80045cb', 'ge...","[{'credit_id': '52fe478dc3a36847f813bd5f', 'pr...",[11523],[Georges Méliès],"[11523, 11523, 11523]","[Georges Méliès, Georges Méliès, Georges Méliès]"
45454,"[{'cast_id': 2, 'character': 'The Magician', '...","[{'credit_id': '52fe4684c3a36847f810350b', 'de...",44333,"[{'credit_id': '52fe4684c3a36847f810350f', 'ge...","[{'credit_id': '52fe4684c3a36847f810350b', 'pr...",[11523],[Georges Méliès],[11523],[Georges Méliès]
45455,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'de...",49277,"[{'credit_id': '54df5588c3a3685756001511', 'ge...","[{'credit_id': '52fe478dc3a36847f813bd4b', 'pr...",[11523],[Georges Méliès],[11523],[Georges Méliès]
45456,"[{'cast_id': 2, 'character': 'Le Concierge', '...","[{'credit_id': '52fe478dc3a36847f813bd19', 'de...",49271,"[{'credit_id': '5496e4f6c3a3686ae30064b5', 'ge...","[{'credit_id': '52fe478dc3a36847f813bd19', 'pr...","[1271226, 11523]","[André Méliès, Georges Méliès]",[11523],[Georges Méliès]
45457,"[{'cast_id': 2, 'character': 'Man with whisker...","[{'credit_id': '52fe4684c3a36847f810345f', 'de...",44324,"[{'credit_id': '52fe4684c3a36847f8103463', 'ge...","[{'credit_id': '52fe4684c3a36847f810345f', 'pr...",[11523],[Georges Méliès],[11523],[Georges Méliès]
45458,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'de...",122036,[],"[{'credit_id': '52fe4a74c3a368484e1542e9', 'pr...",[],[],[11523],[Georges Méliès]
45459,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...",14885,"[{'credit_id': '52fe46249251416c7506e947', 'ge...","[{'credit_id': '52fe46249251416c7506e969', 'pr...","[6860, 19540, 12077, 5247, 77482, 60739, 77484...","[Jimmy Bennett, Peter Cullen, Jim Cummings, Jo...","[77488, 92694, 80675, 85914, 77545, 1127831]","[Saul Blinkoff, Elliot M. Bour, Evan Spiliotop..."
45460,"[{'cast_id': 3, 'character': 'All the members ...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'de...",49280,"[{'credit_id': '52fe478dc3a36847f813bd6f', 'ge...","[{'credit_id': '52fe478dc3a36847f813bd6b', 'pr...",[11523],[Georges Méliès],[11523],[Georges Méliès]
45461,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",106807,"[{'credit_id': '54df501d92514119530034c3', 'ge...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'pr...","[28964, 11523]","[Jeanne d'Alcy, Georges Méliès]",[11523],[Georges Méliès]
45462,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",276895,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'pr...",[],[],"[1331150, 1601664, 1601664, 1601664]","[Robert Fulton, Robert Gardner, Robert Gardner..."
45463,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",404604,"[{'credit_id': '577809adc3a3686d92001716', 'ge...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'pr...","[109549, 1254942, 87328, 85047, 109743, 163496...","[Sridevi Kapoor, Sajal Ali, Akshaye Khanna, Na...","[5288, 88596, 85444, 1323215, 1644440, 1644440...","[A. R. Rahman, Boney Kapoor, Mukesh Talreja, S..."
45464,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",420346,"[{'credit_id': '5876256c92514179f5007a52', 'ge...","[{'credit_id': '587626f4c3a3682b33008299', 'pr...","[1736940, 1302424, 1575319, 1736941, 1278978, ...","[Markie Adams, Roberto Aguire, Tina Arning, La...","[1736944, 1736944]","[Shanra J. Kehl, Shanra J. Kehl]"
45465,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",67179,"[{'credit_id': '52fe475bc3a368484e0c2a91', 'ge...","[{'credit_id': '5330178a9251413a720055e3', 'pr...","[225962, 548190, 548191, 919804]","[Giulio Brogi, Renato Cestiè, Vito Cipolla, Da...","[20875, 24279, 24279, 24281]","[Leo Tolstoy, Paolo Taviani, Paolo Taviani, Vi..."
45466,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...",84419,"[{'credit_id': '52fe48f49251416c9109dceb', 'ge...","[{'credit_id': '58152c139251415a7f0047e2', 'pr...","[931198, 34117, 19967, 34287, 29142, 6933, 143...","[Rondo Hatton, Robert Lowery, Virginia Grey, B...","[12348, 16753, 29813, 30412, 89745, 96696, 117...","[Russell A. Gausman, John B. Goodman, Jack P. ..."
45467,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...",390959,"[{'credit_id': '56ff777092514167870015f6', 'ge...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'pr...","[53303, 204174, 79736, 1099459, 1599751, 15997...","[Tony Abatemarco, Andre Brooks, Mariclare Cost...","[76541, 76541, 1599733, 1599735, 75651, 76541,...","[Ben Rock, Ben Rock, Jay Bogdanowitsch, Pirie ..."

In [62]:
credits[['id', 'cast_id']].head()

      id                                            cast_id
0    862  [31, 12898, 7167, 12899, 12900, 7907, 8873, 11...
1   8844  [2157, 8537, 205, 145151, 5149, 10739, 58563, ...
2  15602       [6837, 3151, 13567, 16757, 589, 16523, 7166]
3  31357  [8851, 9780, 18284, 51359, 66804, 352, 87118, ...
4  11862  [67773, 3092, 519, 70696, 59222, 18793, 14592,...

In [7]:
id_cast_id = credits[['id', 'cast_id']]

In [70]:
list(id_cast_id[id_cast_id.index==0].cast_id)[0]

[31,
 12898,
 7167,
 12899,
 12900,
 7907,
 8873,
 1116442,
 12901,
 12133,
 8655,
 12903,
 37221]

In [78]:
id_cast_id[id_cast_id.id==8844].cast_id

1    [2157, 8537, 205, 145151, 5149, 10739, 58563, ...
Name: cast_id, dtype: object

In [93]:
id_cast_id[id_cast_id.id==i].cast_id

0    [31, 12898, 7167, 12899, 12900, 7907, 8873, na...
Name: cast_id, dtype: object

***

実行中

In [8]:
for i in np.array(id_cast_id.id):
    cast_list = list(id_cast_id[id_cast_id.id==i].cast_id)[0]
    for j in range(len(cast_list)):
        if cast_list[j] in list(actors.id):
            continue
        else:
            cast_list[j] = np.nan
    id_cast_id[id_cast_id.id==i]['cast_id'] = str(cast_list)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
id_cast_id.cast_id = id_cast_id.cast_id.map(make_list_from_str)

In [15]:
id_cast_id = id_cast_id.dropna()
id_cast_id.head()

Empty DataFrame
Columns: [id, cast_id]
Index: []

In [11]:
pre_dummy = id_cast_id.cast_id.apply(pd.Series).stack()

In [ ]:
pre_dummy = pre_dummy.dropna()
cast_dummies = pd.get_dummies(pre_dummy).sum(level=0)

***

In [19]:
credits[credits.cast_name.isnull()]

Empty DataFrame
Columns: [cast, crew, id, cast_list, crew_list, cast_id, cast_name, crew_id, crew_name]
Index: []

In [44]:
pre_dummy = credits["cast_id"].apply(pd.Series).stack()

In [19]:
pre_dummy

0      0          31.0
       1       12898.0
       2        7167.0
       3       12899.0
       4       12900.0
       5        7907.0
       6        8873.0
       7     1116442.0
       8       12901.0
       9       12133.0
       10       8655.0
       11      12903.0
       12      37221.0
1      0        2157.0
       1        8537.0
       2         205.0
       3      145151.0
       4        5149.0
       5       10739.0
       6       58563.0
       7        1276.0
       8       46530.0
       9       56523.0
       10      51551.0
       11      56522.0
       12    1000304.0
       13     188949.0
       14    1076551.0
       15    1480246.0
       16      25024.0
               ...
45472  1      111636.0
       2     1204271.0
       3      278923.0
       4     1042953.0
       5      575774.0
       6     1184497.0
       7      462483.0
       8     1728582.0
       9     1485780.0
       10    1801183.0
45473  0       23764.0
       1        2059.0
       2       46277.0
       3        1736.0
       4       58646.0
       5       54649.0
       6       55270.0
       7      169498.0
       8       51656.0
       9     1177500.0
       10     154762.0
       11      93930.0
       12      81690.0
       13      37822.0
       14    1686379.0
45474  0      544742.0
       1     1090923.0
       2     1136422.0
       3     1261758.0
       4       29199.0
Length: 562474, dtype: float64

In [41]:
type(pre_dummy)

pandas.core.series.Series

***

↓メモリが足りなくて処理できない

In [ ]:
cast_dummies = pd.get_dummies(pre_dummy).sum(level=0)

In [ ]:
cast_dummies.head()

***

### director, actorのリストを取得

In [22]:
ls

IMDB-Movie-Data.csv      ml-latest/               regression.ipynb
get_dummies.py           ml-latest-small/         the-movies-dataset/
imdb.csv*                movie_analysis.ipynb     tmdb-5000-movie-dataset/
ml-100k/                 movie_cast.gml           untitled.txt
ml-1m/                   network.ipynb
ml-20m/                  notebook.ipynb

In [23]:
cd the-movies-dataset/

/Users/yoshidatomoya/Documents/GCI/movie_analysis/the-movies-dataset

In [24]:
ls

actors.csv           jobs.csv             movies_metadata.csv*
credits.csv*         keywords.csv*        ratings_small.csv*
directors.csv        links.csv*
genres.csv*          links_small.csv*

In [25]:
actors = pd.read_csv("actors.csv")
directors = pd.read_csv("directors.csv")

In [69]:
actors.head()

   Unnamed: 0     id           name  appearance
0           0     31      Tom Hanks          72
1           1  12898      Tim Allen          29
2           2   7167    Don Rickles          29
3           3  12899     Jim Varney          20
4           4  12900  Wallace Shawn          75

In [26]:
actors[actors.appearance>=10].sort_values('appearance', ascending=False)

        Unnamed: 0      id                name  appearance
9530          9530  121323        Bess Flowers         241
8401          8401     113     Christopher Lee         148
11575        11575    4165          John Wayne         125
2415          2415    2231   Samuel L. Jackson         123
15436        15436    3895       Michael Caine         110
5223          5223   16927    Gérard Depardieu         110
11044        11044    8516      John Carradine         109
3110          3110   55636   Donald Sutherland         109
1726          1726   18897         Jackie Chan         108
260            260   15831        Frank Welker         107
69              69     380      Robert De Niro         104
82              82   11160         Danny Trejo         102
1297          1297     884       Steve Buscemi         101
9612          9612   30530        Irving Bacon          98
1938          1938    1230        John Goodman          97
1300          1300    4690  Christopher Walken          96
4983          4983    2047        Danny Glover          96
2966          2966    2778       Dennis Hopper          94
2189          2189    5049           John Hurt          93
698            698    4038      Susan Sarandon          93
1119          1119    1037       Harvey Keitel          91
387            387      62        Bruce Willis          91
4267          4267   21315        Eric Roberts          90
981            981   56890    Malcolm McDowell          90
4519          4519    5293        Willem Dafoe          89
2955          2955    5401       Anthony Quinn          88
9427          9427    9221    Donald Pleasence          87
792            792   65827         Keith David          87
6871          6871    1640   Stellan Skarsgård          86
861            861     192      Morgan Freeman          85
...            ...     ...                 ...         ...
41180        41180  222922        Wim Opbrouck          10
41882        41882   60698        Tracy Nelson          10
41867        41867   23984       Bernard Farcy          10
41836        41836   85949        Daniel Quinn          10
41818        41818   83912     Michael Granger          10
41786        41786    3555        Jeremy Swift          10
1969          1969   61703            Ron Yuan          10
41572        41572    7058       Kris Marshall          10
41520        41520   52365      Cerina Vincent          10
41491        41491   77736             Armelle          10
41461        41461   83851       Alejandro Rey          10
41435        41435   97145        Paul Langton          10
41212        41212   17266       Wolfgang Völz          10
41193        41193   69529     María Asquerino          10
2067          2067   30151       Leo Burmester          10
40362        40362   41250        Dick Sargent          10
41118        41118    3836         Roger Hanin          10
41112        41112   97679   Kenneth J. Warren          10
2071          2071  146025    Sharon Blackwood          10
41081        41081   21445  Monique van de Ven          10
41049        41049   36091    Christian Stolte          10
41004        41004   96841       Matthew Lewis          10
40947        40947  157626          Jan Rabson          10
40921        40921   19370          Anne Le Ny          10
40914        40914   19211     Ian Somerhalder          10
2087          2087   77338         Tom McGowan          10
40676        40676  246385            Hsiao Ho          10
40607        40607   74636    Trish Van Devere          10
40485        40485   15481     Marianne Basler          10
176275      176275  235916   Mikhail Galustyan          10

[10450 rows x 4 columns]

10回以上映画に出演している俳優は10450人

In [70]:
directors.head()

   Unnamed: 0             name     id  appearance
0           0    John Lasseter   7879          10
1           1     Joe Johnston   4945          10
2           2    Howard Deutch  26502          11
3           3  Forest Whitaker   2178           4
4           4    Charles Shyer  56106           7

In [75]:
directors[directors.appearance>=5].sort_values('appearance', ascending=False)

       Unnamed: 0                     name      id  appearance
901           901                John Ford    8500          68
726           726           Michael Curtiz    4109          65
523           523            Werner Herzog    6818          55
722           722         Alfred Hitchcock    2636          53
4262         4262           Georges Méliès   11523          51
567           567          Jean-Luc Godard    3776          50
57             57              Woody Allen    1243          49
412           412             Sidney Lumet   39996          46
914           914          Charlie Chaplin   13848          44
746           746       William A. Wellman   14643          43
1684         1684           Henry Hathaway   37360          43
1893         1893              Raoul Walsh    8823          43
2891         2891           Richard Thorpe   70862          42
15             15          Martin Scorsese    1032          41
717           717             George Cukor   14674          40
905           905           Ingmar Bergman    6648          39
727           727              John Huston    6593          39
290           290            Robert Altman    9789          38
908           908               Fritz Lang      68          38
1700         1700             Mervyn LeRoy    9054          38
2838         2838            Takashi Miike   17282          37
801           801              Robert Wise    1744          37
257           257           Claude Chabrol   19069          37
723           723              Frank Capra    2662          37
2280         2280          Mario Monicelli   32375          36
159           159                Spike Lee    5281          36
1721         1721            Buster Keaton    8635          36
1562         1562             Roger Corman  102429          36
743           743             Howard Hawks   11435          36
742           742            W.S. Van Dyke   32427          35
...           ...                      ...     ...         ...
4336         4336              Claudio Fäh   56533           5
4360         4360          Andrew Bujalski   40864           5
4366         4366              Joss Whedon   12891           5
4372         4372           Jim O'Connolly  107333           5
4381         4381            Jack Starrett   16556           5
4386         4386                 Jon Gunn   94471           5
4081         4081               Paco Plaza   54526           5
4068         4068            Jorge Furtado  102561           5
3723         3723          Tage Danielsson    3849           5
4064         4064            Daniel Burman  584335           5
3768         3768            Dick Richards   19333           5
3812         3812         Sergei Parajanov   95066           5
3820         3820               Sandy Tung  231756           5
3855         3855          Michael Schaack   56477           5
3866         3866           Gisaburō Sugii   73121           5
3880         3880           Matthew Barney  116018           5
3888         3888         Michael Grossman   43222           5
3889         3889               P.J. Pesce   64190           5
3892         3892          Santiago Segura   10847           5
3919         3919         Kazuya Tsurumaki   77923           5
3920         3920             Jari Halonen  148011           5
3930         3930            Michel Ocelot   87429           5
3976         3976  Harry Bromley Davenport   91659           5
4010         4010              Jeffrey Lau   57617           5
4017         4017           Lee Chang-dong   96657           5
4019         4019           Ben Sombogaart   79437           5
4030         4030               Klaus Härö  109891           5
4042         4042            Nikhil Advani   35735           5
4055         4055            Yojiro Takita   76936           5
19465       19465           Ernst Hofbauer  125090           5

[2283 rows x 4 columns]

5回以上映画を作っている監督は2283人

## 評価回数、rating、興行収入、予算などの間の相関係数

In [8]:
ls

IMDB-Movie-Data.csv      ml-latest/               notebook.ipynb
imdb.csv*                ml-latest-small/         regression.ipynb
ml-100k/                 movie_analysis.ipynb     the-movies-dataset/
ml-1m/                   movie_cast.gml           tmdb-5000-movie-dataset/
ml-20m/                  network.ipynb            untitled.txt

In [9]:
cd ml-latest

/Users/yoshidatomoya/Documents/GCI/movie_analysis/ml-latest

In [10]:
ls

95%_least_plausible.csv
MovieLens.ipynb
README.txt
genome-scores.csv
genome-tags.csv
links.csv
movies.csv
posterior_distribution_of_352    Forrest Gump (1994)?Name: title, dtype: object.png
posterior_distribution_of_45841    Satan Triumphant (1917)?Name: title, dtype: object.png
posterior_distributions_exapmle.png
ratings.csv
tags.csv

In [11]:
genome_score = pd.read_csv('genome-scores.csv')
links = pd.read_csv('links.csv')
ratings = pd.read_csv('ratings.csv')
genome_tags = pd.read_csv('genome-tags.csv')
movies = pd.read_csv("movies.csv")
tags = pd.read_csv('tags.csv')

In [18]:
rating_mean = ratings.groupby(['movieId'])['rating'].mean()
rating_num = ratings.groupby(['movieId']).userId.count()

In [20]:
cd ..

/Users/yoshidatomoya/Documents/GCI/movie_analysis

In [21]:
metadata = pd.read_csv(metadata_URL)

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [35]:
metadata[['budget', 'id', 'imdb_id', 'revenue', 'vote_average', 'vote_count']]

           budget      id    imdb_id      revenue  vote_average  vote_count
0      30000000.0     862  tt0114709  373554033.0           7.7      5415.0
1      65000000.0    8844  tt0113497  262797249.0           6.9      2413.0
2             0.0   15602  tt0113228          0.0           6.5        92.0
3      16000000.0   31357  tt0114885   81452156.0           6.1        34.0
4             0.0   11862  tt0113041   76578911.0           5.7       173.0
5      60000000.0     949  tt0113277  187436818.0           7.7      1886.0
6      58000000.0   11860  tt0114319          0.0           6.2       141.0
7             0.0   45325  tt0112302          0.0           5.4        45.0
8      35000000.0    9091  tt0114576   64350171.0           5.5       174.0
9      58000000.0     710  tt0113189  352194034.0           6.6      1194.0
10     62000000.0    9087  tt0112346  107879496.0           6.5       199.0
11            0.0   12110  tt0112896          0.0           5.7       210.0
12            0.0   21032  tt0112453   11348324.0           7.1       423.0
13     44000000.0   10858  tt0113987   13681765.0           7.1        72.0
14     98000000.0    1408  tt0112760   10017322.0           5.7       137.0
15     52000000.0     524  tt0112641  116112375.0           7.8      1343.0
16     16500000.0    4584  tt0114388  135000000.0           7.2       364.0
17      4000000.0       5  tt0113101    4300000.0           6.5       539.0
18     30000000.0    9273  tt0112281  212385533.0           6.1      1128.0
19     60000000.0   11517  tt0113845   35431113.0           5.4       224.0
20     30250000.0    8012  tt0113161  115101622.0           6.4       305.0
21            0.0    1710  tt0112722          0.0           6.5       199.0
22     50000000.0    9691  tt0112401   30303072.0           6.0       394.0
23            0.0   12665  tt0114168          0.0           6.3       143.0
24      3600000.0     451  tt0113627   49800000.0           7.1       365.0
25            0.0   16420  tt0114057          0.0           7.0        33.0
26     12000000.0    9263  tt0114011   27400000.0           6.6        91.0
27            0.0   17015  tt0114117          0.0           7.4        36.0
28     18000000.0     902  tt0112682    1738611.0           7.6       308.0
29            0.0   37557  tt0115012          0.0           6.5        17.0
...           ...     ...        ...          ...           ...         ...
45436         0.0   45527  tt1331329          0.0           3.7        11.0
45437         0.0  455661  tt6969946          0.0           8.3       146.0
45438         0.0  327237  tt3814486          0.0           6.8        11.0
45439         0.0   84710  tt0036975          0.0           5.8         2.0
45440         0.0   39562  tt0889600          0.0           5.0        12.0
45441         0.0   14008  tt0294425          0.0           5.2       145.0
45442         0.0   44330  tt0135690          0.0           5.0         3.0
45443         0.0   49279  tt0000359          0.0           7.6        29.0
45444         0.0   44333  tt0135179          0.0           6.1         8.0
45445         0.0   49277  tt0135122          0.0           4.5         2.0
45446         0.0   49271  tt0127948          0.0           6.7        12.0
45447         0.0   44324  tt0135631          0.0           6.0         6.0
45448         0.0  122036  tt0224286          0.0           5.0         2.0
45449         0.0   14885  tt0457437          0.0           5.4         7.0
45450         0.0   49280  tt0135453          0.0           6.5        22.0
45451         0.0  106807  tt0135571          0.0           6.5         6.0
45452         0.0  276895  tt3054038          0.0           0.0         0.0
45453         0.0  404604  tt5690142          0.0           6.6        14.0
45454         0.0  420346  tt4130180          0.0           4.0         2.0
45455         0.0   67179  tt0069215          0.0           6.0         3.0
45456         0.0   84419  tt0038621          0.0           6.3         8.0
45457         0.0  390959  tt0265736          0.0           7.0         2.0
45458         0.0  289923  tt0252966          0.0           7.0         1.0
45459         0.0  222848  tt0112613          0.0           3.5         1.0
45460         0.0   30840  tt0102797          0.0           5.7        26.0
45461         0.0  439050  tt6209470          0.0           4.0         1.0
45462         0.0  111109  tt2028550          0.0           9.0         3.0
45463         0.0   67758  tt0303758          0.0           3.8         6.0
45464         0.0  227506  tt0008536          0.0           0.0         0.0
45465         0.0  461257  tt6980792          0.0           0.0         0.0

[45466 rows x 6 columns]

In [28]:
np.array(rating_mean)

array([ 3.8881575 ,  3.23695318,  3.17555011, ...,  5.        ,
        1.        ,  3.        ])

In [29]:
np.array(rating_num)

array([66008, 26060, 15497, ...,     1,     1,     1])

ratingの平均とratingされた数の相関は

In [31]:
import scipy.stats as sps

sps.pearsonr(np.array(rating_mean), np.array(rating_num))

(0.12124607340899146, 2.5816084465206952e-147)

0.12でほとんどない

In [33]:
metadata.budget = metadata.budget.convert_objects(convert_numeric=True)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [39]:
budget_revenue = metadata[['budget', 'revenue']][metadata.budget!=0]
budget_revenue = budget_revenue[budget_revenue.revenue!=0]

In [40]:
budget_revenue

            budget      revenue
0       30000000.0  373554033.0
1       65000000.0  262797249.0
3       16000000.0   81452156.0
5       60000000.0  187436818.0
8       35000000.0   64350171.0
9       58000000.0  352194034.0
10      62000000.0  107879496.0
13      44000000.0   13681765.0
14      98000000.0   10017322.0
15      52000000.0  116112375.0
16      16500000.0  135000000.0
17       4000000.0    4300000.0
18      30000000.0  212385533.0
19      60000000.0   35431113.0
20      30250000.0  115101622.0
22      50000000.0   30303072.0
24       3600000.0   49800000.0
26      12000000.0   27400000.0
28      18000000.0    1738611.0
31      29500000.0  168840000.0
33      30000000.0  254134910.0
35      11000000.0   39363635.0
43      18000000.0  122195920.0
44      20000000.0   21284514.0
45      10000000.0   23574130.0
46      33000000.0  327311859.0
47      55000000.0  346079773.0
49       6000000.0   23341568.0
51      15000000.0    6700000.0
68       3500000.0   28215918.0
...            ...          ...
44140    3000000.0    9713500.0
44152    2500000.0    1477030.0
44166    4000000.0    9938268.0
44249      82000.0    2000000.0
44274  152000000.0  369907963.0
44282   21000000.0   24527158.0
44337  197471676.0   90024292.0
44383    7000000.0     855450.0
44426    7400000.0   22000000.0
44428    2000000.0     273137.0
44557   10000000.0    7547762.0
44580    5300000.0   22175908.0
44632   30000000.0   90007945.0
44678  100000000.0  519876949.0
44711    8500000.0    5730596.0
44791    8520000.0   56100000.0
44821   16000000.0   68411275.0
44842  260000000.0  604942143.0
44848    2000000.0   11666088.0
44850    2000000.0    8000000.0
44856    3000000.0    1957000.0
44970    2196531.0    2411594.0
45014   60000000.0   71000000.0
45139   50000000.0   66913939.0
45167   11000000.0  184770205.0
45250   12000000.0   19000000.0
45399     750000.0          3.0
45409     800000.0    1328612.0
45412    2000000.0    1268793.0
45422    5000000.0    1413000.0

[5384 rows x 2 columns]

In [41]:
sps.pearsonr(budget_revenue.budget, budget_revenue.revenue)

(nan, 1.0)